html {
  height: 100svh;
}

body {
  background-image: linear-gradient(to bottom right, red, yellow);
  background-size: auto;
  padding: 20px;
  margin: 0;
  font-family: sans-serif;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: #111;
  padding: 0;
}

ul.header li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content {
  background-color: #fff;
  padding: 20px;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #0099ff;
}

.photos-flex {
  display: flex;
  gap: 10px;
}

.photos-flex img {
  width: 300px;
  user-select: none;
}

.connect-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.connect-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.connect-form form input, .connect-form form textarea {
  border-radius: 3px;
  border: 1px solid gray;
}

.connect-form form input[type='text'] {
  width: 30svh;
  margin: auto;
  padding: 2px;
}

.connect-form form textarea {
  width: 30svh;
  margin: auto;
  resize: vertical;
  padding: 3px;
}

.connect-form form input[type='submit'], .connect-form form input[type='reset'] {
  display: inline-block;
  width: 10svh;
  padding: 2px;
  margin: 0 10px;

  &:hover {
    border: 1px solid black;
    background-color: #525252;
    color: white;
  }

  &:active {
    background-color: #292929;
  }
}

.Camera-selection-container {
  align-content: center;
  background-color: lightblue;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Camera-selection-text {
    font-size: 16;
    color: 'blue';
}

.data {
  width: 100%;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
  overflow: hidden;

  & img {
    height: 250px;
  }
}

/* schema form */

.rjsf {
  display: flex;
  flex-direction: column;

  & .form-group {
    display: grid;
    grid-template-columns: 100px 1fr;
  }

  & input, & select, & textarea {
    padding: 2px;
    margin: 5px;
  }

  & input {
    width: 300px;
  }

  & select {
    width: 308px;
  }

  & textarea {
    width: 302px;
    resize: vertical;
    min-height: 100px;
    max-height: 300px;
  }

  & div {
    grid-column: 1 / 3;
  }
}